html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline
}
html {
	line-height:1
}
ol,ul {
	list-style:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
caption,th,td {
	text-align:left;
	font-weight:normal;
	vertical-align:middle
}
q,blockquote {
	quotes:none
}
q:before,q:after,blockquote:before,blockquote:after {
	content:"";
	content:none
}
a img {
	border:none
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
	display:block
}
@font-face {
	font-family:'Blackjack Regular';
	src:font-url('blackjack.eot');
	src:font-url('blackjack.eot?#iefix') format("embedded-opentype"),
    font-url('blackjack.woff') format("woff"),
    font-url('blackjack.ttf') format("truetype"),
    font-url('blackjack.svg#BlackJackRegular') format("svg");
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'Quicksand Light';
	src:font-url('quicksand-light.eot');
	src:font-url('quicksand-light.eot?#iefix') format("embedded-opentype"),
    font-url('quicksand-light.woff') format("woff"),
    font-url('quicksand-light.ttf') format("truetype"),
    font-url('quicksand-light.svg#QuicksandLight') format("svg");
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'Quicksand Book';
	src:font-url('quicksand-book.eot');
	src:font-url('quicksand-book.eot?#iefix') format("embedded-opentype"),
    font-url('quicksand-book.woff') format("woff"),
    font-url('quicksand-book.ttf') format("truetype"),
    font-url('quicksand-book.svg#QuicksandBook') format("svg");
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'Quicksand Bold';
	src:font-url('quicksand-bold.eot');
	src:font-url('quicksand-bold.eot?#iefix') format("embedded-opentype"),
    font-url('quicksand-bold.woff') format("woff"),
    font-url('quicksand-bold.ttf') format("truetype"),
    font-url('quicksand-bold.svg#quicksandbold') format("svg");
	font-weight:normal;
	font-style:normal
}
html {
	font:15px/17px 'Quicksand Book', Arial, sans-serif;
	color:#fff;
	text-align:center;
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing:subpixel-antialiased
}
.link {
	-webkit-transition:color 0.2s ease;
	-webkit-transition-delay:0s;
	-moz-transition:color 0.2s ease 0s;
	-o-transition:color 0.2s ease 0s;
	transition:color 0.2s ease 0s;
	color:#8ce0ff !important;
	text-decoration:underline
}
.link:hover {
	color:#26c5ff !important
}
.marker-title {
	text-align:center;
	text-transform:uppercase
}
.float {
	float:left
}
.clear {
	clear:both
}
.modal>.close-modal {
	float:right;
	font-size:37px;
	color:#fff;
	position:relative;
	right:-40px;
	bottom:-30px;
	padding:3px
}
#modal-map {
	height:250px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	position:relative;
	clear:both;
	top:0;
	width:100%
}
#modal-map .leaflet-bar {
	border:none;
	border-radius:3px
}
#modal-map .leaflet-bar a:last-child {
	border-top:1px solid #fff
}
#modal-map .leaflet-control-zoom-in,#modal-map .leaflet-control-zoom-out {
	text-indent:0;
	background-image:none;
	background-color:#272727;
	opacity:1;
	color:#fff;
	padding-top:4px;
	width:30px;
	height:31px;
	font-size:18px
}
#modal-map .leaflet-control-zoom-in:hover,#modal-map .leaflet-control-zoom-out:hover {
	background-color:#1a1a1a
}
#modal-map .leaflet-popup-content-wrapper {
	background-color:#272727;
	font-family:'Quicksand Book', Arial, sans-serif !important;
	color:#fff;
	border-radius:5px
}
#modal-map .leaflet-popup-tip {
	border-top-color:#272727
}
#modal-map .leaflet-popup-content {
	padding:4px 10px 1px;
	font-size:15px
}
#modal-map .marker-title {
	text-transform:lowercase
}
.happy-hour-modal {
	background-color:transparent;
	margin:30px auto
}
.happy-hour-modal .wrapper {
	line-height:1em;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-color:#1a1a1a;
	padding:45px 0 55px
}
.happy-hour-modal .title {
	font-size:40px;
	line-height:1em;
	padding:0px 30px;
    color:#fff;
}
.happy-hour-modal .leaflet-map-pane {
	top:15px
}
.location {
	font-size:20px;
	line-height:1.2em;
    color:#fff
}
.location .address {
	font-size:30px;
	color:#1299b8;
	text-transform:lowercase;
	padding-bottom:3px;
	padding-top:50px
}
.happy-hour {
	text-transform:uppercase;
	padding:0 30px
}
.happening-now {
	color:#56a667
}
.denote-happening-now {
	position:relative;
	right:10px
}
.coordinates {
	display:none
}
#map {
	position:fixed;
	top:0px;
	bottom:0px;
	width:100%;
	min-width:260px;
	cursor:default
}
#map .leaflet-clickable:hover {
	cursor:pointer
}
#map .leaflet-bar {
	border:none;
	border-radius:3px
}
#map .leaflet-bar a {
	width:32px;
	height:36px
}
#map .leaflet-bar a:last-child {
	border-top:1px solid #fff
}
#map .leaflet-control-zoom-in,#map .leaflet-control-zoom-out {
	text-indent:0;
	background-image:none;
	padding:6px 7px;
	font-size:22px;
	background-color:#272727;
	opacity:1;
	color:#fff
}
#map .leaflet-control-zoom-in:hover,#map .leaflet-control-zoom-out:hover {
	background-color:#1a1a1a
}
#map .leaflet-popup-content-wrapper {
	background-color:#272727;
	opacity:1;
	border-radius:4px;
	color:#fff
}
#map .leaflet-popup-content {
	padding:6px 6px 5px
}
#map .leaflet-popup-content p {
	margin:0
}
#map .leaflet-popup-tip {
	border-top-color:#272727
}
.popup {
	font-family:'Quicksand Book', Arial, sans-serif;
	overflow:auto;
	color:#fff;
	cursor:pointer
}
.popup .website a {
	text-decoration:underline !important
}
.popup .info,.popup .type,.popup .right-arrow {
	float:left
}
.popup .right-arrow {
	position:relative;
	margin-top:6%;
	right:-5px;
	height:20px
}
.popup .info {
	width:69%;
	margin-left:5%
}
.popup .info .popup-title {
	font-size:20px;
	line-height:1.1em;
	margin-bottom:2px;
	text-transform:uppercase;
	color:#1299b8
}
.popup .info p {
	line-height:1.2em
}
.popup .type {
	width:16%
}
.popup .type span {
	display:none
}
.popup .type img {
	height:37px;
	float:right
}
.popup .line {
	clear:both;
	display:block
}
.sidebar li p,.sidebar footer {
	font-size:15px
}
.sidebar {
	z-index:1000;
	position:absolute;
	width:500px;
	height:100%;
	left:1.1%;
	min-width:195px;
	background-color:#1a1a1a
}
.sidebar>header {
	background-color:#1a1a1a;
    color:#fff;
}
.sidebar>header h1 {
	padding:90px 0 40px;
	font:200%/1px 'Blackjack Regular', Arial, sans-serif
}
.sidebar>header p {
	font-size:185%;
	line-height:1.1em;
	color:#1299b8;
	padding:0 35px
}
.sidebar>header p b {
	color:#fff
}
.sidebar dl {
	color:#fff;
	padding:15px 0;
	font-size:17px;
	padding-bottom:35px
}
.sidebar dl dt,.sidebar dl dd {
	display:inline
}
.sidebar dl dt img {
	height:25px
}
.sidebar dl dd {
	padding-left:20px;
	position:relative;
	top:-6px
}
.sidebar dl dd.food {
	padding-right:60px
}
.sidebar dl dt:last-child {
	margin-right:20px
}
.sidebar dl dd:last-child {
	margin-left:-7px
}
.sidebar .controls {
	background-color:#2f3135 !important;
	font-size:18px;
	text-align:center;
	overflow:hidden
}
.sidebar .add-new-happy-hour,.sidebar .show-user-location {
	-webkit-transition:background-color 0.2s ease;
	-webkit-transition-delay:0s;
	-moz-transition:background-color 0.2s ease 0s;
	-o-transition:background-color 0.2s ease 0s;
	transition:background-color 0.2s ease 0s;
	padding:12px 0px 9px;
	display:inline-block;
	width:49.9%;
	margin-top:-1px;
	margin-bottom:-1px
}
.sidebar .add-new-happy-hour:hover,.sidebar .show-user-location:hover {
	background-color:#282a2d !important
}
.sidebar .add-new-happy-hour {
	text-decoration:none;
	color:#fff;
	border-right:1px solid #5e5e5e
}
.sidebar .show-user-location {
	border-radius:0;
	color:#fff
}
.sidebar .show-user-location:hover {
	background-color:transparent
}
.sidebar li {
	-webkit-transition:color 0.2s ease-out;
	-webkit-transition-delay:0s;
	-moz-transition:color 0.2s ease-out 0s;
	-o-transition:color 0.2s ease-out 0s;
	transition:color 0.2s ease-out 0s;
	background-color:#45484d;
	border-bottom:1px solid #5e5e5e;
	text-align:left;
	padding:22px 3.5%;
	overflow:auto;
	list-style-type:none;
	transition:background 300ms, color 300ms;
	-moz-transition:background 300ms, color 300ms;
	-webkit-transition:background 300ms, color 300ms
}
.sidebar li:hover,.sidebar li:active {
	cursor:pointer;
	background-color:#3b3e42
}
.sidebar li .info,.sidebar li .type {
	float:left
}
.sidebar li h2, .sidebar li h2 a {
	text-transform:uppercase;
	font-size:20px;
	line-height:1.1em;
    color:#fff;
}
.sidebar li p {
	font-size:15px
}
.sidebar li>img {
	margin-top:10px;
	height:20px;
	float:right
}
.sidebar .info {
	width:74%;
	margin:0 4%
}
.sidebar .type {
	width:12%
}
.sidebar .type img {
	height:35px;
	float:right
}
.sidebar footer {
	background-color:#1a1a1a;
	padding:20px 0;
	font-size:15px;
	line-height:1.2em;
	color:#fff
}
.time-graph {
	width:105%;
	overflow:hidden;
	padding:0.25em 0
}
.time-graph p {
	background-color:#5594A6;
	border-radius:10px;
	height:0.6em
}
.time-graph p span {
	position:relative;
	left:100%;
	margin-left:0.5em;
	top:-0.2em
}
.alert {
	font-size:18px;
	letter-spacing:-1px;
	position:fixed;
	z-index:99999;
	width:auto;
	margin:0 auto;
	left:0;
	right:0;
	padding:10px
}
.alert p {
	position:relative;
	top:2px
}
.alert ul {
	text-align:left;
	list-style-type:disc;
	margin:12px 0px 12px 30px
}
.alert-success {
	background-color:#a3d9a3;
	border-color:#5bbb5b !important;
	color:#255825
}
.alert-error {
	background-color:#e6b1b1;
	border-color:#cd6464 !important;
	color:#732525
}
button {
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline;
	outline:0
}
.button,.modal>.close-modal,.sidebar .show-user-location,.button-default,.button-primary,.show-list,.dismiss-button,.update-happy-hour-button,.like-button {
	background-color:transparent;
	cursor:pointer;
	border:none;
	border-radius:3px;
	font-family:"Quicksand Book", Arial, sans-serif
}
.button-default+.button-primary {
	margin-left:20px
}
.button-default {
	border:1px solid #fff
}
.button-primary {
	-webkit-transition:background-color 0.2s ease;
	-webkit-transition-delay:0s;
	-moz-transition:background-color 0.2s ease 0s;
	-o-transition:background-color 0.2s ease 0s;
	transition:background-color 0.2s ease 0s;
	background-color:#0f718a;
	color:white;
	border:1px solid #0f718a
}
.button-primary:hover {
	background-color:#0d667c
}
.button-default,.button-primary {
	color:#FFF;
	font-size:19px;
	line-height:1em;
	padding:7px 25px 5px;
	-webkit-appearance:none;
	outline:none
}
.show-list {
	-webkit-transition:background-color 0.2s ease;
	-webkit-transition-delay:0s;
	-moz-transition:background-color 0.2s ease 0s;
	-o-transition:background-color 0.2s ease 0s;
	transition:background-color 0.2s ease 0s;
	background-color:#1a1a1a;
	color:white;
	position:absolute;
	bottom:5px;
	padding:7px 0 4px;
	margin:0 auto;
	width:30%;
	right:0;
	left:0
}
.show-list:hover {
	background-color:#121212
}
.dismiss-button {
	float:right;
	font-size:25px;
	color:inherit;
	opacity:0.4;
	background-color:transparent;
	z-index:99999;
	position:relative;
	top:2px
}
.dismiss-button:hover {
	opacity:0.6;
	background-color:transparent
}
.disabled-button {
	opacity:0.1 !important;
	cursor:default !important
}
.happy-hour-buttons {
	margin-top:3px
}
.happy-hour-buttons li {
	display:inline;
	margin:0 5px
}
.update-happy-hour-button {
	-webkit-transition:background-color 0.2s ease;
	-webkit-transition-delay:0s;
	-moz-transition:background-color 0.2s ease 0s;
	-o-transition:background-color 0.2s ease 0s;
	transition:background-color 0.2s ease 0s;
	background-color:#0f718a;
	color:white;
	padding-left:15px;
	padding-right:15px
}
.update-happy-hour-button:hover {
	background-color:#0d667c
}
.like-button {
	-webkit-transition:background-color 0.2s ease;
	-webkit-transition-delay:0s;
	-moz-transition:background-color 0.2s ease 0s;
	-o-transition:background-color 0.2s ease 0s;
	transition:background-color 0.2s ease 0s;
	background-color:#148350;
	color:white;
	padding-left:15px;
	padding-right:11px
}
.like-button:hover {
	background-color:#127648
}
.like-button img {
	margin-right:8px;
	position:relative;
	top:1px;
	height:15px
}
.update-happy-hour-button,.like-button {
	font-size:18px !important;
	height:29px;
	padding-top:2px
}
.like-count {
	padding-left:7px
}
.overlay {
	font-family:'Quicksand Book', Arial, sans-serif;
	overflow-x:auto;
	overflow-y:scroll;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	z-index:9999;
	outline:0;
	background-color:rgba(60,60,60,0.8)
}
.modal {
	position:relative;
	width:600px;
	margin:65px auto;
	top:800px;
	border-radius:5px;
	outline:0;
	padding-right:35px;
	padding-left:35px
}
.modal-header {
	padding:35px 0 25px;
	text-align:center;
	line-height:2.1em;
	background-color:#1a1a1a;
	border-top-left-radius:5px;
	border-top-right-radius:5px
}
.modal-header .title {
	font-size:44px;
	color:#1299b8;
	text-transform:lowercase
}
.modal-header .subtitle {
	font-size:24px;
	color:#fff
}
.modal-body {
	color:#fff;
	text-align:left;
	font-size:17px;
	line-height:1.1em;
	background-color:#45484d;
	padding:15px 30px
}
.modal-footer {
	background-color:#1a1a1a;
	text-align:center;
	padding:20px 0;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px
}
.form-group+.form-group {
	border-top:1px solid #5e5e5e;
	margin-top:20px;
	padding-top:20px
}
.modal-field {
	padding:15px 0
}
.modal-field.float {
	width:50%
}
.modal-field.float .text-field {
	width:80%
}
.modal-field>label {
	display:block;
	font-size:20px;
	padding-bottom:5px
}
.text-field,textarea,select {
	font-size:18px;
	font-family:"Quicksand Book", Arial, sans-serif;
	border:1px solid transparent;
	background-color:#aaafb3;
	color:#000;
	border-radius:3px;
	transition:border-color 0.2s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	padding:7px 10px 4px
}
.text-field:focus,textarea:focus,select:focus {
	outline:0px none;
	box-shadow:0px 0px 8px 0px #66afe9;
	border:1px solid #66afe9
}
.text-field {
	width:52%;
	text-align:left
}
select {
	text-align:center;
	border-radius:3px;
	padding-left:5px;
	padding-right:5px
}
select+select {
	margin-left:10px
}
textarea {
	width:75%;
	height:140px
}
.field-warning {
	box-shadow:0px 0px 8px 3px #f70505
}
.checkbox-field {
	margin-left:-5px;
	display:inline-block;
	width:25%
}
.checkbox-field>label {
	display:inline;
	font-size:16px;
	margin-left:8px
}
.modal-field.checkbox-field {
	width:100%
}
.update-form {
	margin-top:30px
}
.update-form-footer {
	padding:15px 0;
	text-align:center
}
.search-form {
	position:fixed;
	z-index:1;
	right:10px;
	top:10px
}
.search-icon {
	height:20px;
	position:relative;
	top:4px;
	left:32px;
	margin-top:0
}
.search-field {
	font-family:"Quicksand Book", Arial, sans-serif;
	font-size:19px;
	border-radius:3px;
	border:none;
	padding:1px 5px 0 42px;
	background-color:#45484d;
	color:#FFF;
	text-transform:lowercase;
	height:35px;
	line-height:1em;
	-webkit-appearance:none;
	outline:none
}
.search-field,.ui-menu {
	width:250px
}
.ui-helper-hidden-accessible {
	display:none
}
.ui-state-hover,.ui-state-focus {
	background-color:#282a2d !important;
	cursor:pointer
}
.now {
	float:right;
	position:relative;
	top:8px;
	right:9px
}
.ui-menu {
	background-color:#2f3135;
	text-align:left;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	font-size:17px;
	width:250px;
	text-transform:lowercase;
	position:relative;
	top:-2px !important
}
.ui-menu-item {
	border-top:1px solid #4a4a4a;
	overflow:hidden
}
.ui-menu-item a {
	padding:7px 10px 5px;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	width:85%;
	line-height:1.1em
}
@media screen and (max-width: 1400px) {
	.modal-header {
		line-height:1.9em
	}
	.modal-field .text-field,.modal-field textarea,.modal-field select {
		font-size:16px;
		padding:8px 8px 5px
	}
	.modal-field label {
		font-size:19px
	}
	fieldset .checkbox-field label {
		font-size:15px
	}
	fieldset .modal-field,fieldset>.checkbox-field {
		padding:14px 0
	}
	fieldset .down-arrow,fieldset .up-arrow {
		height:20px
	}
	.sidebar {
		width:425px
	}
	.sidebar .add-new-happy-hour,.sidebar .show-user-location {
		padding:10px 0px 9px;
		width:49.8%
	}
	.sidebar>header h1 {
		padding:80px 0 35px
	}
	.sidebar>header p {
		font-size:163%
	}
	.sidebar li {
		padding:20px 3.5%
	}
	.sidebar .type {
		width:12%
	}
	.sidebar .type img {
		height:33px
	}
	.time-graph {
		padding:0.3em 0
	}
	.time-graph p span {
		top:-0.25em
	}
	#map .leaflet-popup-content {
		padding:5px 5px 4px
	}
	li h2,.popup-title,.controls {
		font-size:17.5px !important
	}
	.sidebar li p,.sidebar footer,.info>p {
		font-size:14.5px !important
	}
}
@media screen and (max-width: 950px) {
	.alert {
		font-size:17px;
		padding-top:8px;
		padding-bottom:8px
	}
	.modal {
		width:500px
	}
	.modal-header {
		line-height:1.7em
	}
	.modal-header .title {
		font-size:40px
	}
	textarea {
		width:96%
	}
	.modal-field .text-field,.modal-field textarea,.modal-field select {
		font-size:15px;
		padding:7px 6px 3px
	}
	.modal-field .checkbox-field {
		width:26%
	}
	.modal-field label {
		font-size:18px
	}
	.modal-field select+select {
		margin-left:7px
	}
	.happy-hour-modal .title {
		font-size:35px
	}
	.happy-hour-modal .location {
		font-size:18px
	}
	.happy-hour-modal .location .address {
		font-size:27px
	}
	.update-happy-hour-button,.like-button,.button-default,.button-primary {
		font-size:17px !important
	}
	.like-button img {
		height:13px;
		top:0
	}
	.update-happy-hour-button,.like-button {
		padding-top:2px
	}
	.button-default,.button-primary {
		padding:6px 35px 4px
	}
	fieldset .checkbox-field label {
		font-size:14px
	}
	fieldset .modal-field,fieldset>.checkbox-field {
		padding:11px 0
	}
	fieldset .down-arrow,fieldset .up-arrow {
		height:18px
	}
	.modal-footer .close-modal,.modal-footer .submit-modal {
		font-size:17px;
		height:36px;
		padding:3px 15px 0px
	}
	.sidebar {
		width:340px;
		left:0
	}
	.sidebar .add-new-happy-hour,.sidebar .show-user-location {
		padding:8px 0px
	}
	.sidebar .info {
		width:71%
	}
	.sidebar>header h1 {
		font-size:180%;
		padding:70px 0 35px
	}
	.sidebar>header p {
		font-size:150%;
		padding:0 15px
	}
	.sidebar dl {
		font-size:100%;
		padding-top:10px;
		padding-bottom:25px
	}
	.sidebar li {
		padding:18px 3.5%
	}
	.sidebar li>img {
		height:18px
	}
	.sidebar .type {
		width:14%
	}
	.sidebar .type img {
		height:32px
	}
	li h2,.popup-title {
		font-size:16.5px !important
	}
	.controls {
		font-size:16px !important
	}
	.sidebar li p,.sidebar footer,.info>p {
		font-size:13.5px !important
	}
	#map .leaflet-popup-content {
		width:275px !important
	}
	#map .reduce-width {
		left:-26px !important
	}
	#map .reduce-width .leaflet-popup-content {
		width:50px !important
	}
	.popup .type {
		width:18%
	}
	.popup .type img {
		height:33px
	}
	.popup .info {
		width:67%
	}
	.popup .right-arrow {
		height:18px
	}
}
@media screen and (max-width: 750px) {
	.alert {
		font-size:16px
	}
	.modal {
		width:75%
	}
	.modal-header {
		line-height:1.5em;
		padding:30px 0px 20px
	}
	.modal-header .title {
		font-size:35px
	}
	.modal-body {
		padding:10px 25px
	}
	.modal-field .text-field,.modal-field textarea,.modal-field select {
		font-size:14px;
		padding:6px 6px 3px
	}
	.modal-field .checkbox-field {
		width:34%
	}
	.modal-field label {
		font-size:17px
	}
	.modal-field select+select {
		margin-left:5px
	}
	fieldset .checkbox-field label {
		font-size:14px
	}
	fieldset .modal-field,fieldset>.checkbox-field {
		padding:9px 0
	}
	fieldset .down-arrow,fieldset .up-arrow {
		height:18px
	}
	.modal-footer {
		padding:15px
	}
	.modal-footer .close-modal,.modal-footer .submit-modal {
		font-size:15px;
		height:32px
	}
	.sidebar {
		width:275px
	}
	.sidebar .add-new-happy-hour,.sidebar .show-user-location {
		padding:7px 0px 6px
	}
	.sidebar>header h1 {
		padding:60px 0 35px
	}
	.sidebar>header p {
		font-size:140%;
		line-height:1em
	}
	.sidebar dl {
		font-size:14px;
		padding-bottom:15px
	}
	.sidebar dl dd {
		padding-left:15px
	}
	.sidebar dl dd.food {
		padding-right:30px
	}
	.sidebar dl dt img {
		height:21px
	}
	.sidebar li {
		padding:14px 3.5%
	}
	.sidebar .info {
		width:67%
	}
	.sidebar .type {
		width:17%
	}
	.sidebar .type img {
		height:30px
	}
	.time-graph p span {
		top:-0.35em
	}
	li h2,.popup-title {
		font-size:15.5px !important
	}
	.controls {
		font-size:14px !important
	}
	.sidebar li p,.sidebar footer,.info>p {
		font-size:14px !important
	}
	.popup .type {
		width:19%
	}
	.popup .type img {
		height:30px
	}
	.popup .info {
		width:65%
	}
	#map .leaflet-popup-content {
		width:250px !important
	}
	body:after {
		content:'tablet';
		display:none
	}
}
@media screen and (max-width: 600px) {
	.modal {
		width:85%
	}
	.modal>.close-modal {
		right:0px;
		bottom:0px
	}
	.search-form {
		right:auto;
		width:94%
	}
	.search-field,.ui-menu {
		width:50%
	}
	.alert {
		font-size:15px
	}
	.modal-header {
		line-height:1.2em
	}
	.modal-body {
		padding:10px 20px
	}
	.modal-field .text-field,.modal-field textarea,.modal-field select {
		font-size:14px;
		padding:5px 6px 3px
	}
	.modal-field .checkbox-field {
		width:45%
	}
	.modal-field label {
		font-size:15px
	}
	.modal-field select {
		padding-left:0;
		padding-right:0
	}
	.modal-field select+select {
		margin-left:3px
	}
	fieldset .modal-field,fieldset>.checkbox-field {
		padding:7px 0
	}
	fieldset .down-arrow,fieldset .up-arrow {
		height:15px
	}
	.modal-footer .close-modal,.modal-footer .submit-modal {
		font-size:14px;
		height:28px
	}
	.sidebar {
		width:100%;
		height:60%;
		top:300px;
		left:0;
		right:0;
		margin:0 auto
	}
	.sidebar .add-new-happy-hour {
		margin-left:-1px
	}
	.sidebar li:nth-child(even) {
		border-left:1px solid #5e5e5e
	}
	.sidebar li {
		padding:12px 3%;
		width:43.87%;
		float:left;
		height:62px
	}
	.sidebar li>img {
		display:none
	}
	.sidebar .type {
		width:39px
	}
	.sidebar .info {
		width:73%
	}
	footer {
		clear:both
	}
	.popup .info {
		margin:0px 5%;
		width:60%
	}
	.popup .line {
		padding-top:5px
	}
	body:after {
		content:'mobile';
		display:none
	}
}
@media screen and (max-width: 470px) {
	.search-field,.ui-menu {
		width:67%
	}
	.modal {
		margin:20px auto 0;
		width:100%;
		padding-right:0;
		padding-left:0
	}
	.modal-header {
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		padding:20px 0 15px
	}
	.modal-header .title {
		font-size:28px
	}
	#modal-map,.modal-header {
		border-top-left-radius:0;
		border-top-right-radius:0
	}
	.happy-hour-modal .wrapper,.modal-footer {
		border-bottom-left-radius:0;
		border-bottom-right-radius:0
	}
	.happy-hour-modal .title {
		font-size:28px
	}
	.happy-hour-modal .location {
		font-size:16px
	}
	.happy-hour-modal .location .address {
		font-size:22px;
		padding-top:30px
	}
	.update-happy-hour-button,.like-button,.button-default,.button-primary {
		font-size:15px !important
	}
	.like-button img {
		height:11px
	}
	.update-happy-hour-button,.like-button {
		height:25px
	}
	.button-default,.button-primary {
		padding:5px 35px 3px
	}
	.sidebar li:nth-child(even) {
		border-left:none
	}
	.sidebar li {
		width:inherit;
		height:auto;
		float:none
	}
	.sidebar li:empty {
		display:none
	}
	#map .leaflet-control-zoom-in,#map .leaflet-control-zoom-out {
		padding:5px 7px;
		font-size:23px
	}
}
@media screen and (max-width: 370px) {
	.search-field,.ui-menu {
		width:77%
	}
}
