<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h1>Walt Disney World Dining and Fun Food</h1>
      <p>This is very exciting.  You are about to check out the alpha version of the dining section of WDW Hub!  Just like Walt Disney fortold about Disneyland, "Disneyland will never be completed. It will continue to grow as long as there is imagination left in the world," so too will this site. We will keep moving forward.</p>
      
<h2>   <%= link_to "Click here to see our progress.", districts_path %>   
</h2>  </div>
</div>
