<div class="callout large secondary">
  <div class="row">
    <div class="large-4 columns">
      <h5>For Disney Fans by Disney Fans</h5>
      <p>WDW Hub provides a feel for what you vacation could be like through the eye of the fans of the total vacation experience.</p>
    </div>
    <div class="large-3 large-offset-2 columns">
      <h6>Official Walt Disney World Info</h6>
      <ul class="menu vertical">

        <li class="linksGroupItem"><h6 class="linksGroupTitle" role="heading" aria-level="3">Help</h6></li>
  <li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_HelpSupport_ContactUs" href="https://disneyworld.disney.go.com/help/phone/">Contact Us</a></li><li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_HelpSupport_HelpCenter" href="https://disneyworld.disney.go.com/help/">Help Center</a></li><li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_HelpSupport_FAQs" href="https://disneyworld.disney.go.com/faq/">Frequently Asked Questions</a></li><li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_HelpSupport_GuestsWithDisabilities" href="https://disneyworld.disney.go.com/guest-services/guests-with-disabilities/">Guests with Disabilities</a></li><li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_HelpSupport_GuestServices" href="https://disneyworld.disney.go.com/guest-services/">Guest Services</a></li><li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_HelpSupport_MomsPanel" href="https://disneyparksmomspanel.disney.go.com/destinations/walt-disney-world/">Disney Parks Mom's Panel</a></li><li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_HelpSupport_GuestSafety" href="http://disneywildaboutsafety.com/">Guest Safety</a></li><li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_HelpSupport_ParkSecurity" href="https://disneyworld.disney.go.com/guest-services/park-security/">Park Security</a></li><li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_HelpSupport_PrivacyLegal" href="https://disneyworld.disney.go.com/help/privacy-legal/">Privacy &amp; Legal</a></li><li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_HelpSupport_TravelPartners" href="http://disneytravelagents.com/">Travel Partners</a></li><li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_HelpSupport_WebsiteHelp" href="https://disneyworld.disney.go.com/faq/technical-help/">Website Help</a></li><li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_Learn_ParkRules" href="https://disneyworld.disney.go.com/park-rules/">Park Rules</a></li></ul>

</li>      </ul>
    </div>
    <div class="large-3 columns">
      <h6>&nbsp;</h6>
      <ul class="menu vertical">
        <li class="linksGroupItem"><h6 class="linksGroupTitle" role="heading" aria-level="3">Learn About</h6></li>
        <li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_Learn_MyMagicPlus" href="https://disneyworld.disney.go.com/plan/my-disney-experience/my-magic-plus/">MyMagic+</a></li>
        <li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_Learn_MyDisneyExperience" href="https://disneyworld.disney.go.com/plan/my-disney-experience/">My Disney Experience</a></li>
        <li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_Learn_FamilyFriends" href="https://disneyworld.disney.go.com/plan/my-disney-experience/family-friends/">My Family &amp; Friends</a></li><li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_Learn_FastPassPlus" href="https://disneyworld.disney.go.com/plan/my-disney-experience/fastpass-plus">FastPass+</a></li><li class="linksGroupItem link"><a href="https://disneyworld.disney.go.com/plan/my-disney-experience/memory-maker/">Memory Maker</a></li><li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_Learn_MagicBandsCards" href="https://disneyworld.disney.go.com/plan/my-disney-experience/bands-cards/">MagicBands and Cards</a></li><li class="linksGroupItem link"><a name="&amp;lid=WDW_Footer_Learn_MobileApp" href="https://disneyworld.disney.go.com/plan/my-disney-experience/mobile-apps/">Mobile App</a></li><li class="linksGroupItem link"><a name="&amp;lid=Footer_Learn_ShopDisneyParksApp" href="https://disneyworld.disney.go.com/guest-services/shop-disney-parks-mobile-app/?CMP=ILC-WDW_SDPFooter0001">Shop Disney Parks App</a></li></ul>
      </ul>
    </div>
  </div>
</div>
