    <div class="row">
      <div class="medium-4 columns">
        <h4>Tips</h4>
              <%#= render  partial: "hotel_tip", collection: @hotel.tips.first(5) %>
        <% @comments = @hotel.tips %>
        <%= render :partial => "/hotels/2017/guest_comment", :collection => @comments[0..2] %>
      </div>
      <div class="medium-4 columns">
        <h4>&nbsp;</h4>
        <%= render :partial => "/hotels/2017/guest_comment", :collection => @comments[3..5] %>
      </div>
      <div class="medium-4 columns">
        <h4>&nbsp;</h4>
        <%= render :partial => "/hotels/2017/guest_comment", :collection => @comments[7..8] %>
      </div>
    </div>

