<div class="card-user-profile">
    <%# photo = index_listing.foursquare_eatery.find_cached_images.first.to_s %>

  <%#= image_tag index_listing.foursquare_eatery.find_cached_images.first.to_s,  alt: "", class: "card-user-profile-img" %>
  <!-- <img class="card-user-profile-img" src="https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb" alt="picture of space" /> -->
  <div class="card-user-profile-content card-section">
    <div class="card-user-profile-avatar ">
      <svg viewBox="0 0 500 500" width="64" height="64">
            <use xlink:href="#fork_and_knife_icon"/>
      </svg>
    </div>
    <p class="card-user-profile-name"><%= link_to "#{index_listing.name}", index_listing %></p>
    <!-- <p class="card-user-profile-status">Yeti Web Designer</p> -->
    <!-- <p class="card-user-profile-info">The Yeti, once better known as the Abominable Snowman, is a mysterious bipedal creature said to live in the mountains of Asia. It sometimes leaves tracks in snow, but is also said to dwell below the Himalayan snow line.</p> -->
  </div>

  <div class="card-user-profile-actions">
    <!-- <a href="#" class="card-user-profile-button button hollow">Follow</a> -->
    <!-- <a href="#" class="card-user-profile-button button hollow secondary">More Info</a> -->
  </div>
</div>


