<div class="media-object">
  <div class="media-object-section">
    <!-- <img class="thumbnail" src="http://placehold.it/100x100"> -->
<!--           <%= image_tag "http://placehold.it/100x100",
               title: "", 
               class: "thumbnail",
               data_retina_url: "http://placehold.it/200x200",
               size: "100x100"
          %>    
 -->
                <%= link_to(index_listing, target: "blank", class: "fork_and_knife_icon thumbnail") do %>
                  <svg viewBox="0 0 500 500" width="100" height="100">
                  <use xlink:href="#fork_and_knife_icon"/>
              </svg>
            <% end -%>

  </div>
  <div class="media-object-section">
    <h5><%= link_to "#{index_listing.name}", index_listing %></h5>
    <p><%#= guest_comment.text %></p>
  </div>
</div>

          <%#= image_tag "#{hotel_tip.author_photo_prefix}100x100#{hotel_tip.author_photo_suffix}",
               title: "#{hotel_tip.author_first_name} #{hotel_tip.author_last_name} ", 
               class="thumbnail",
               data_retina_url: "#{hotel_tip.author_photo_prefix}200x200#{hotel_tip.author_photo_suffix}",
               size: "200x200"
          %>
