<div class="card">
  <div class="card-image">
    <%= image_tag "#{photo_card.prefix}600x600#{photo_card.suffix}" %>
  </div>
  <div class="card-header">
    by: <%= "#{photo_card.photographer_first_name} #{photo_card.photographer_last_name}" %>
  </div>
  <div class="card-copy">
    <p>taken: <%= "#{photo_card.created_at.strftime("%B %Y")}" %></p>
  </div>
</div>
