<div class="comment">
  <div class="comment-image">
          <%= image_tag "#{tip.foursquare_user_photo_prefix}32x32#{tip.foursquare_user_photo_suffix}",
               title: "#{tip.foursquare_user_first_name} #{tip.foursquare_last_name} ", 
               class: "avatar",
               data_retina_url: "#{tip.foursquare_user_photo_prefix}64x64#{tip.foursquare_user_photo_suffix}",
               size: "32x64"
          %>
    <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"> -->
  </div>
  <div class="comment-content">
    <h1><%= "#{tip.foursquare_user_first_name} #{tip.foursquare_last_name}" %></h1>
    <p><%= tip.text %></p>
    <p class="comment-detail">Date or details about this post</p>
  </div>
</div>
