<!-- head contents -->
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>News/WDW Hub Card | Foundation 6</title>
<link rel="icon" href="https://foundation.zurb.com/building-blocks/assets/img/favicon/foundation-favicon.ico" type="image/x-icon">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://foundation.zurb.com/building-blocks//assets/css/app.css?rev=8d8f4f46f0a6b757af87910b48612f57">

