
<div class="building-block-preview">
  <div class="row align-center expanded building-block-iframe-wrapper">
    <iframe class="building-block-iframe" src="/districts_iframe" frameborder="0"></iframe>
  </div>
</div>
