<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
      <%= image_tag("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png") %>
  </div>
    <ul>
      <li><a href="//welcome.wdwhub.net/about">About</a></li>
      <li><a href="//welcome.wdwhub.net/about">Contact</a></li>
      <li><a href="//hotels.wdwhub.net">Hotels</a></li>
      <li><a href="//dining.wdwhub.net">Dining and Snacks</a></li>
      <li><a href="//fun.wdwhub.net">Parks and Fun</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="//welcome.wdwhub.net/terms_of_use">Terms and Conditions</a></li>
        <li><a href="//welcome.wdwhub.net/terms_of_use">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="https://www.facebook.com/wdwhub/">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="https://twitter.com/wdwhub">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <!-- <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li> -->
      </ul>
    </div>
</footer>
