    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">WDW Hub</li>
          <li><a href="//wdwhub.net">Home</a></li>
          <li><a href="/">More Food</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="//hotels.wdwhub.net/">Hotels</a></li>
          <li><a href="//fun.wdwhub.net/">Parks &amp; Fun</a></li>
          <li><a href="//wdwhub.net/about">About Us</a></li>
          <li><a href="//wdwhub.net/about">Contact</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->
