<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> | Foundation 6</title>
<link rel="icon" href="https://foundation.zurb.com/building-blocks/assets/img/favicon/foundation-favicon.ico" type="image/x-icon">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://foundation.zurb.com/building-blocks/building-block/app.css?rev=0690617f11cb5415615d21ddc2892c0b">
<style>
      body {
        background-color: #E6E8EB;
        padding: 16px;
      }

      @media screen and (min-width: 40em) {
        body {
          padding: 20px;
        }
      }

      @media screen and (min-width: 64em) {
        body {
          padding: 50px;
        }
      }

    </style>
<link rel="stylesheet" href="https://foundation.zurb.com/building-blocks/building-block/news-card/layout.css?rev=a28b7a09766b2cbba0751998778d0c20">
<link rel="stylesheet" href="https://foundation.zurb.com/building-blocks/building-block/news-card/news-card.css?rev=bee1a623cdddca0c4b7968681be24b40">
</head>
<body>
  <%= yield %>
</body>
</html>
